
<div class="row">
  <h3>Change password for <%= @user.username.capitalize %></h3>
  <form action="/changepassword/<%= @user.id %>" method="post" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input type="password" id="password" name="user[password]" required data-error="Please enter a password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        <input type="password" id="repeat-password" name="user[repeat-password]" required data-error="Please repeat your new password">
        <label for="repeat-password">Repeat Password</label>
      </div>
    </div>

    <button type="submit" class="btn-floating btn-large"><i class="fa fa-check"></i></button>
  </form>

</div>
