
<div class="row">
  <h4>Create single publication</h4>
  <form action="/create/single_publication" method="post" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input type="date" id="date" class="datepicker" name="publication[date]" value="Publication date">
      </div>
      <div class="input-field col s6">
        <select name="publication[publication_id]">
          <option value="" disabled selected>Paper</option>
          <% @papers.each do |p| %>
            <option value="<%= p.id %>"><%= p.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" id="name" name="publication[name]">
        <label for="name">Publication Name</label>
      </div>
    </div>
    <button type="submit" class="btn"><i class="fa fa-plus"></i> Create</button>
  </form>
</div>

<div class="row">
  <h4>Create multiple publications</h4>
  <p>This will create a publication starting on the first publication date and on every day of the week that is the same as the first publication date until the end publication date.</p>
  <form action="/create/multiple_publications" method="post" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input type="date" id="start_date" class="datepicker" name="publication[start_date]" value="First publication date">
      </div>
      <div class="input-field col s6">
        <input type="date" id="end_date" class="datepicker" name="publication[end_date]" value="Last publication date">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select name="publication[publication_id]">
          <option value="" disabled selected>Paper</option>
          <% @papers.each do |p| %>
            <option value="<%= p.id %>"><%= p.name %></option>
          <% end %>
        </select>
      </div>
      <div class="input-field col s6">
        <input type="text" id="name" name="publication[name]">
        <label for="name">Publication Name</label>
      </div>
    </div>
    <button type="submit" class="btn"><i class="fa fa-plus"></i> Create</button>
  </form>
</div>
