<div class="row">
  <form action="/quote" method="post">
    <div class="row">
      <div class="input-field col m6 s12">
        <span class="label">Height</span>
        <input type="number" id="height" name="quote[height]" class="validate" required data-error="Please enter a number">
      </div>
      <div class="input-field col m6 s12">
        <span class="label">Columns</span>
        <input type="number" id="columns" name="quote[columns]" class="validate" required data-error="Please enter a number">
      </div>
    </div>
    <div class="row">
      <div class="input-field col m6 s12">
        <span class="label">Feature</span>
        <select class="browser-default selectize" name="quote[feature]" class="validate" required>
          <option value="" disabled selected>Feature</option>
          <% @features.each do |f| %>
            <option value="<%= f.id %>"><%= f.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn">Get price</button>
    </div>
  </form>
</div>
