<% if @features %>
  <div class="row">
    <h4>Features</h4>
    <ul class="collection">
    <% @features.each do |f| %>
      <li class="collection-item">
        <% if f.type == 1 %>
          <%= "#{f.name}: $#{format_price(f.rate)} per column centimetre" %>
        <% else %>
          <%= "#{f.name}: $10 for #{f.rate.to_i} words" %>
        <% end %>
        <% if env['warden'].user.role == 1 || env['warden'].user.role == 4 %>
          <a href="/delete/feature/<%= f.id %>" class="secondary-content" style="color:red; margin-left:10px;"><i class="fa fa-trash"></i></a>
          <a href="/edit/feature/<%= f.id %>" class="secondary-content"><i class="fa fa-edit"></i></a>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>
