select{
  display: block;
}
nav{
  margin-bottom: 10px;
}
.nav-wrapper{
  background-color: #0d47a1;
}
.close-flash{
  bottom:30px;
}
table .completed td{
  background-color: #dcedc8;
}
.c-completed{
  background-color: #dcedc8 !important;
}
.brand-logo{
  margin-left: 10px;
  font-weight: bold;
  font-style: italic;
}
.btn, .btn-floating{
  background-color: #66bb6a;
}

.btn:hover, .btn-floating:hover{
  background-color: #388e3c;
}


.custom_search input{
  font-size: 2rem;
  border: .5px solid #9e9e9e;
}
.ui-autocomplete-input{
  border: .5px solid #9e9e9e;
}
.ui-autocomplete{
  position: relative;
  background-color: #fff;
  border: .5px solid #9e9e9e;
  box-shadow: 0 1px 0 0 #9e9e9e;
  font-size: 1.5rem;
  width:60%;
}
.ui-autocomplete li{
  padding:6px;
}
.ui-autocomplete li:hover{
  background-color: #bbdefb;
}
.ui-helper-hidden-accessible{
  display:none;
}
.flash-success{
  background-color: #dcedc8;
}
.flash-error{
  background-color: #e57373;
}
.badge{
  background-color: #448aff;
  border-radius:2px;
  color:#fff !important;
}
.align-top{
  margin-top:20px;
  margin-right: 10px;
}
