@media print{
  body{
    color:#000;
    background: #fff;

    font-size: .8em;
  }
  nav, .flash, .view-pub, .fixed-action-btn, .right, .hide-print{
    display:none;
  }
  .info, .card-panel{
    color: #000;
    background: #fff;
    box-shadow: none;
    font-weight: bold;
  }
  td{
    border-bottom:1px solid #999;
  }
  a{
    color:#000;
  }
}
